{% extends "layout.html" %}

{% block title %}
Welcome
{% endblock %}

{% block navs %}
{% if session["username"] %}

<a class="navbar-item" href="{{url_for('search')}}">Search</a>

<a class="navbar-item" href="{{url_for('myreviews')}}">My reviews</a>

<a class="navbar-item" href="{{url_for('logout')}}">Logout</a>
{% else %}

<a class="navbar-item" href="{{url_for('login')}}">Login</a>

<a class="navbar-item" href="{{url_for('register')}}">Sign up</a>
{% endif %}
{% endblock %}

{% block body %}

<div class="hero-body">
    <div class="container has-text-centered">
            <img src="/static/love.gif" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen>
            <br>
        <h1 class="title">Welcome</h1>
        {% if session["username"] %}
        <div class="content">
            <h2 class="title">You are logged on as:</h2>
            <h3>{{ session["username"] }}</h3>
            <br>
            <a href="/login" class="button is-warning is-outlined">Change user</a>
            <a href="/search" class="button is-warning">Continue</a>
        </div>
        {% else %}
        <div class="content">
            <h2 class="title">Please login to begin.</h2>
            <p>No account? Sign up today!</p>
            <a href="/login" class="button is-warning is-outlined">Log in</a>
            <a href="/register" class="button is-warning">Sign up</a>
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}
