  {% extends "layout.html" %}

  {% block title %}
  Login
  {% endblock %}

  {% block navs %}
  {% if session["username"] %}
  <a class="navbar-item" href="{{url_for('search')}}">Search</a>

  <a class="navbar-item" href="{{url_for('myreviews')}}">My reviews</a>

  <a class="navbar-item" href="{{url_for('logout')}}">Logout</a>
  {% else %}
  <a class="navbar-item" href="{{url_for('login')}}">Login</a>

  <a class="navbar-item" href="{{url_for('register')}}">Sign up</a>
  {% endif %}
  {% endblock %}

  {% block body %}

  <div class="hero-body">
      <div class="container has-text-centered">
          <form action="{{url_for('login')}}" method="post">
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <p class="flash_message">{{ message }}</p>
              {% endfor %}
              {% else %}
              <h1 class="title">Log in</h1>
              {% endif %}
              {% endwith %}
              <div class="field">
                  <p class="control has-icons-left has-icons-right">
                      <input class="input" name="username" type="text" placeholder="Username" required>
                      <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                      </span>
                  </p>
              </div>
              <div class="field">
                  <p class="control has-icons-left">
                      <input class="input" name="password" type="password" placeholder="Password" required>
                      <span class="icon is-small is-left">
                          <i class="fas fa-lock"></i>
                      </span>
                  </p>
              </div>
              <div class="field">
                  <p class="control">
                      <button type="submit" class="button is-warning is-link">
                          Login
                      </button>
                      {% if error %}
                      <p class=error><strong>{{ error }}</strong>
                          {% endif %}
                      </p>
              </div>
          </form>
      </div>
  </div>
  {% endblock %}